#you can create your own secret key by generating one by any preffered means and creating a .env file and entering it like below and replace my placeholder with the key, its used to secure sessions and other things so keeping it sperately in a .env helps keep it secure 
SECRET_KEY =enter_a_secret_key_here