{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage My Topics</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    
    <div class="navbar">
        <a href="{% url 'Logout' %}">Logout</a> <!-- calls Logout url -->
        <a href="{% url 'StaffDashboard' %}">Staff Dashboard</a>
    </div>


    <div class="page-content">
        <div class="box">
            <h1>Manage My Topics</h1>
        </div>

        {% for message in messages %} <!--display messages-->
            <div class="message">{{message}}</div> 
        {% endfor %}

        <div class="scroll-box">
        <h2>Topics</h2>
            {% for topic in topics %} <!--all topics retrived using django template language for loop-->
            <div class="box-item">
                {{topic.name}}<br><br> <!--display the topics details-->
                <form method="post"> <!--create a form for each topic, to be able to post topic id to views.py file in order to add or remove it-->
                    {% csrf_token %} <!--protects against cross site request forgeries-->
                    <input type="hidden" name="topicID" value="{{topic.id}}"> <!--hidden field in form, user shouldnt be able to enter this. topicid of current topic in for loop is extracted using topic.id-->
                    {% if topic in staffsTopics %} <!--checks if staff already specialises in this topic to decide what button to show-->
                    <button type="submit">Remove</button> <!--remove button shown if staff specialises in this topic already-->
                    {% else %}
                   <button type="submit">Add</button>
                   {% endif %}
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>