{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage My Availability</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>

    <div class="navbar">
        <a href="{% url 'Logout' %}">Logout</a> <!-- calls Logout url -->
        <a href="{% url 'StaffDashboard' %}">Staff Dashboard</a>
    </div>

    <div class="page-content">
        <div class="box">
            <h1>Manage My Availability</h1>
        </div>

        {% for message in messages %} <!--display messages-->
         <div class="message">{{message}}</div>
        {% endfor %}

        <div class="box">
            <h2>Add Availability Slot</h2>
            <div class="box-item">
                <form method="post"> <!--form to change student password-->
                    {% csrf_token %} <!--protects against cross site request forgeries-->

                    <label>Day</label><br> <!--label describes what input is required-->
                    <select name="day" required> <!--create dropdown to choose day, must be entered-->
                        <option value="Monday">Monday</option> <!--option to pick monday and sends the value when form submitted-->
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select><br><br>

                    <label>Start Time</label><br>
                    <input type="time" name="startTime" required><br><br> <!--uses input type time to allow for the selection of time-->

                    <label>End Time</label><br>
                    <input type="time" name="endTime" required><br><br>

                    <button type="submit">Add Availability</button> <!--button to submit form-->
                </form>
            </div>
        </div>

        <div class="scroll-box">
            <h2>Your Availability Slots</h2>
            {% for availability in staffAvailability%} <!--display all of a staffs availabilty slots-->
            <div class="box-item">
                {{availability.day}}: {{availability.startTime}} - {{availability.endTime}}<br>
                {%if availability.student%} <!--check if there is a student linked to this availabilty-->
                    Booked by: {{availability.student.user.first_name}} {{availability.student.user.last_name}}<br> <!--if there is then display their details-->
                {% else %}
                    Available<br> <!--if not booked then display available-->
                {% endif %}
                <br>
                <form method="post">
                    {% csrf_token %} <!--protects against cross site request forgeries-->
                    <input type="hidden" name="availabilityID" value="{{availability.id}}"> <!--pass availability id in form to delete-->
                    <button type="submit">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>